<h1>Book list!</h1>

#if ($books)
  <ul>
    #foreach ($book in $books)
      <li><a href="/books/$book.getId()">$book.getName()</a> $book.getAverage()/5</li>
    #end
  </ul>
#else
  <p>No books!</p>
#end

<a href="/books/new">Add New Book</a>
<a href="/genres">Back to genres</a>
