<h1>$genre.getName() books:</h1>

<ul>

  #foreach($book in $genre.sortBooks($genre.getBooks()))
   <li><a href="/genres/$genre.getId()/books/$book.getId()">$book.getName()</a> $book.getAverage()/5</li>

  #end
</ul>

<a href="/genres/$genre.getId()/books/new">Add a new book</a>
<a href="/genres">All genres</a>
